<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VueJS Get Started</title>
</head>
<body>
    <div id="app">
        <!-- <ul>
            <li>{{ people[0] }}</li>
            <li>{{ people[1] }}</li>
            <li>{{ people[2] }}</li>
        </ul> -->

        <ul>
            <li v-for="(person, index) of people">{{ index + 1 }}. {{ person.name }} - <b>{{ person.age }}</b></li>
        </ul>

        <ol >
            <li v-for="num in 10">{{ num }}</li>
        </ol>

        <hr>

        <ul>
            <li v-for="(value, key, index) in person">{{ value }} - <b>{{ key }}</b> - <em>{{ index + 1 }}</em></li>
        </ul>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script>
        new Vue({
            el: '#app',
            data: {
                people: [
                    {name: 'Vlad', age: 20},
                    {name: 'Max', age: 21},
                    {name: 'Elena', age: 22}
                ],
                person: {
                    name: 'Max',
                    age: 25,
                    job: 'Frontend'
                }
            },
        })
    </script>
</body>
</html>